.chores_chores_form {
    margin:  20px;
    min-width: 20%;
    max-width: 100%;
    background-color: #fb8500;
    border-radius: 5%;
    border: 2px solid #ffb703;
    padding: 1em;
    row-gap: 1em;

    display: flex;
    flex-direction: column;

}

.user-index__table {
    width: 100%;
    border-collapse: collapse;
}

#chores_chores_form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#chores_chores_form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

#chores_chores_form input[type="text"],
#chores_chores_form input[type="date"],
#chores_chores_form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#chores_chores_form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#chores_chores_form button:hover {
    background-color: #218838;
}

#chores_chores_form_error {
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

#chores_error{
    color: #a94442;
    font-size: 1.2em;
    margin: 0.5em 0;
}