/* Global font styles */
*, h1, h2, h3, h4, h5, p, div {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #003049; /* Light gray for text (soft on the eyes) */
}

/* Color palette */
/* Main background color */
:root {
    --main-bg: #1e2a47; /* Dark navy blue */
    --main-bg-contrast: #4a6a92; /* Lighter contrast blue */

    /* Alternative background colors */
    --alt-bg: #ff6f00; /* Vibrant orange */
    --alt-bg-contrast: #ffd700; /* Bright yellow for contrast */

    --alt-bg-2: #c62828; /* Rich red */
    --alt-bg-2-contrast: #ff1744; /* Bright red contrast */
}
