.body__header {
    position: sticky;
    top: 0; /* Asegura que se quede pegado a la parte superior */
    height: 10vh; /* O ajusta la altura que necesites */
    background: linear-gradient(to right, #003049, #00b4d8); /* Gradiente de azul oscuro a azul claro */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #003049; /* Línea de separación estilo Instagram */
    z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

.header__div_logo {
    color: #fdf0d5; /* Color del logo, blanco */
    font-size: 1.8em;
    font-weight: 700;
    font-family: "Roboto", sans-serif; /* Fuente limpia y moderna */
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;
}

.navigation__a {
    text-decoration: none;
    color: #fdf0d5; /* Blanco para los enlaces */
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.navigation__a:hover {
    background-color: #003049; /* Color de hover estilo Instagram */
    color: white;
}

.navigation__a i {
    font-size: 1.5em;
    margin-right: 8px;
}
